html {
  scroll-behavior: smooth;
}
p {
  font-size: 26px;
}
body {
  background-color: rgb(220, 220, 220);
  color: black;
  overflow-x: hidden;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
hr {
  border: none;
  height: 3px;
  width: 80%;
  background-color: black;
  margin: 20px 10vw;
}

.NAVIGATION {
  position: absolute;
  width: 100%;
  height: 150px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  text-align: center;
}
.navButtonsList {
  font-size: 28px;
  border-radius: 25px;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: bold;
  display: inline;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  transition: color 0.5s;
  position: relative;
  top: 20px;
}
.navButtons {
  color: rgb(220, 220, 220);
  text-decoration: none;
}
.navButtons:hover {
  color: #339933;
}
.mobileNavButton {
  position: absolute;
  left: 40000px;
  opacity: 0;
}

.INTRO {
  background-image: url('C:\Users\samue\Desktop\Portfolio React Project\portfolio\public\Pictures\DarkBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1200px;
  padding: 10px;
  position: relative;
  top: -8px;
  left: -8px;
}
.introText {
  text-align: left;
  width: 800px;
}
h1 {
  font-size: 70px;
  position: absolute;
  display: inline;
  white-space: nowrap;
  opacity: 1;
  top: 400px;
  left: 5%;
  animation-name: textMovement;
  animation-timing-function:linear ;
  animation-duration: 3s;
  color: rgb(220, 220, 220);
}
@keyframes textMovement {
  0%   {opacity: 0; left: 50%;}
  50%  {opacity: 1;left: 50%;}
  100% {left: 5%;}
}
h2 {
  font-size: 36px;
  position: absolute;
  width: 700px;
  top: 630px;
  left: 5%;
  animation-name: fadeIn;
  color: rgb(220, 220, 220);
  opacity: 1;
  animation-duration: 5s;
}
@keyframes fadeIn {
  0%   {opacity: 0;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}
.samuel {
  animation-name: shadow;
  animation-delay: 4s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes shadow {
  0% {text-shadow: 0px 0px 0px rgb(220, 220, 220)}
  100% {text-shadow: 2px 2px 30px rgb(220, 220, 220)}
}
.facePicture {
  width: 1300px;
  height: 1120px;
  position: absolute;
  opacity: 1;
  right: 0px;
  top: 100px;
  border-top-left-radius: 100px;
  animation-name: fadeInFace;
  animation-duration: 5s;
}
@keyframes fadeInFace {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}


.ABOUT {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 100px;
}
#aboutHeading {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}
.aboutText {
  width: 700px;
}


.PORTFOLIO {
  text-align: left;
}
h3 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 450px;
}
#darkBackgroundPicture {
  position: absolute;
  width: 100%;
}
.paragraph1 {
  font-size: 24px;
  position: relative;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  align-items: center;
  margin-bottom: 100px;
}
.paragraph2 {
  font-size: 24px;
  position: relative;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  align-items: center;
  margin-bottom: 100px;
}
.paragraph3 {
  font-size: 24px;
  position: relative;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  align-items: center;
  margin-bottom: 100px;
}
.picturesSpace {
  width: 500px;
  height: 300px;
  position: absolute;
  border-radius: 25px;
  top: 3170px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s cubic-bezier(.07,.51,.22,.89);
}
.picturesSpace:nth-child(1) {
  rotate: 6deg;
}
.picturesSpace:nth-child(2) {
  rotate: 3deg;
}
.group1:hover > .picturesSpace:nth-child(1) {
  transform: translate(-135%,-40%) rotate(-15deg);
}
.group1:hover > .picturesSpace:nth-child(2) {
  transform: translate(30%,-50%) rotate(5deg);
}
.group1:hover > .picturesSpace:nth-child(3) {
  transform: translate(-50%,-50%);
}

.picturesMulti {
  width: 500px;
  height: 300px;
  position: absolute;
  border-radius: 25px;
  top: 4190px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s cubic-bezier(.07,.51,.22,.89);
}
.picturesMulti:nth-child(1) {
  rotate: 6deg;
}
.picturesMulti:nth-child(2) {
  rotate: 3deg;
}
.group2:hover > .picturesMulti:nth-child(1) {
  transform: translate(-135%,-40%) rotate(-15deg);
}
.group2:hover > .picturesMulti:nth-child(2) {
  transform: translate(30%,-50%) rotate(5deg) ;
}
.group2:hover > .picturesMulti:nth-child(3) {
  transform: translate(-50%,-50%) ;
}

.picturesFeet {
  width: 500px;
  height: 300px;
  position: absolute;
  border-radius: 25px;
  top: 5080px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s cubic-bezier(.07,.51,.22,.89);
}
.picturesFeet:nth-child(1) {
  rotate: 6deg;
}
.picturesFeet:nth-child(2) {
  rotate: 3deg;
}
.group3:hover > .picturesFeet:nth-child(1) {
  transform: translate(-135%,-40%) rotate(-15deg);
}
.group3:hover > .picturesFeet:nth-child(2) {
  transform: translate(30%,-50%) rotate(5deg);
}
.group3:hover > .picturesFeet:nth-child(3) {
  transform: translate(-50%,-50%);
}

.projectLinks1 {
  text-decoration: none;
  color: black;
  white-space: nowrap;
  font-size: 30px;
  border: 3px solid #339933;
  border-radius: 25px;
  padding: 5px;
  background-color: #33993351;
  position: relative;
  top: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35vw;
  margin-right: 35vw;
  transition: background-color 0.5s;
  transition-timing-function: linear;
}
.projectLinks2 {
  text-decoration: none;
  color: black;
  white-space: nowrap;
  font-size: 30px;
  border: 3px solid #339933;
  border-radius: 25px;
  padding: 5px 5vw;
  background-color: #33993351;
  position: relative;
  top: 230px;
  display: grid;
  place-items: center;
  margin-left: 35vw;
  margin-right: 35vw;
  transition: background-color 0.5s;
  transition-timing-function: linear;
}
.projectLinks3 {
  text-decoration: none;
  color: black;
  white-space: nowrap;
  font-size: 30px;
  border: 3px solid #339933;
  border-radius: 25px;
  padding: 5px 5vw;
  background-color: #33993351;
  margin-left: 35vw;
  margin-right: 35vw;
  position: relative;
  top: 390px;
  display: grid;
  place-items: center;
  transition: background-color 0.5s;
  transition-timing-function: linear;
}
.projectLinks1:hover {
  background-color:#339933;
}
.projectLinks2:hover {
  background-color:#339933;
}
.projectLinks3:hover {
  background-color:#339933;
}

.FORM {
  height: 650px;
  width: 50vw;
  margin: 15vh 25vw;
}
.formInput {
  width: 100%;
  padding: 20px;
  border-radius: 25px;
  margin: 4px;
  font-size: 16px;
  margin-bottom: 30px;
  border: 1px solid #339933;
  color: black;
  background-color: #33993351;
  transition: background-color 0.5s;
  transition-timing-function: linear;
  animation-name: Wrong;
}
.formInput:hover {
  background-color:#339933;
}
.labels {
  font-size: 26px;
  margin-left: 30px;
}
#contactText {
  font-size: 40px;
  position: relative;
  bottom: 40px;
}
#formSubmit {
  padding: 12px 5vw;
  margin-top: 10px;
  float: right;
  background-color: #33993351;
  color: black;
  cursor: pointer;
  border-radius: 25px;
  font-size: 24px;
  border: 3px solid #339933;
  transition: background-color 0.5s;
  transition-timing-function: linear;
}
#formSubmit:hover {
  background: #339933;
}
#mapsContact {
  margin-left: 5vw;
}
#formsText {
  color: rgb(220, 220, 220);
  font-size: 24px;
}
.contact {
  display: flex;
  justify-content: center;
}

.FOOTER {
  background-color: black;
  height: 150px;
  display: block;
  position: relative;
  width: 110%;
  left: -8px;
  bottom: -8px;
}
#rights {
  font-size: 24px;
  color: rgb(220, 220, 220);
  position: relative;
  top: 60px;
  left: 8vw;
}
#email {
  position: relative;
  left: 60vw;
  top: 0px;
  color: rgb(220, 220, 220);
  text-decoration: none;
}
#emailText {
  width: 380px;
  height: 20px;
  font-size: 26px;
  transition: color 0.5s;
}
.linkLine {
  width: 380px;
  height: 2px;
  background-image: linear-gradient(270deg, #339933,rgb(10, 10, 10));
  margin-top: 0px;
}
#emailText:hover {
  color: #339933;
}
.emailAnimetaion {
  font-size: 26px;
  width: 100px;
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.sentEmail {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 400px;
  height: 60px;
  border-radius: 5px;
  background-color: #1a1a1a;
}
.load {
  height: 5px;
  position: relative;
  bottom: 59px;
  width: 400px;
  border-radius:0px 0px 5px 5px;
  background-color: #339933;
  animation-name: loading;
  animation-direction: reverse;
  animation-timing-function: linear;
  animation-duration: 10s;
}
@keyframes loading {
  from {width: 400px;}
  to { width: 1px;}
}
.removeLoad {
  background-color: #1a1a1a;
  color: rgb(220, 220, 220);
  position: relative;
  width: 40px;
  height: 40px;
  left: 90%;
  top: 5px;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
.removeLoad:hover {
  color: #339933;
}
.loadText {
  position: relative;
  bottom: 50px;
  width: 250px;
  left: 10px;
  font-size: 22px;
  color: rgb(220, 220, 220);
}


.portfolioAppear {
  transition: opacity 1.5s ease-in-out;
  opacity: 0;
}
.portfolioAppear.inView {
  opacity: 1;
}


@media only screen  and (max-width: 1000px){
  .NAVIGATION {
    background-color: black;
    top: 70px;
    left: 0px;
  }
  .navButtonsList {
    margin-left: 0px;
    margin-right: 0px;
    top: 0px;
  }
  .navButtons {
    color: rgb(220, 220, 220);
    text-decoration: none;
    font-size: 17px;
    border-radius: 0px;
    display: block;
    position: relative;
    display: grid;
    place-items: center;
    height: 50px;
    padding: 0px;
    width: 100%;
    top: 0px;
    left: -40px;
  }
  .navButtons:hover {
    background-color: #339933;
    color: white;
    width: 100%;
  }
  .mobileNavButton {
    border: none;
    background-color: black;
    width: 100%;
    height: 70px;
    color: rgb(220, 220, 220);
    font-size: 40px;
    opacity: 1;
    cursor: pointer;
    left: 0px;
    top: 0px;
    display: grid;
    place-items: center;
  }
  .mobileNavButton:hover {
    background-color: #339933;
  }
  @keyframes fadeIn {
    0%   {opacity: 0; }
    50%  {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes textMovement {
    0%   {opacity: 0;}
    100%  {opacity: 1;}
  }
  
  .FOOTER {
    display: grid;
    place-items: center;
  }
  #rights {
    position: relative;
    left: 2vw;
    top: 10px;
  }
  #email {
    margin-right: 120%;
    position: relative;
    top: -20px;
  }
  .projectLinks1 {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .projectLinks2 {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .projectLinks3 {
    margin-left: 20vw;
    margin-right: 20vw;
  }
  .facePicture {
    opacity: 0;
  }
  @keyframes fadeInFace {
    0% {opacity: 0;}
    100% {opacity: 0;}
  }
}

@media only screen  and (max-width: 700px){
  .INTRO {
    height: 1100px;
  }
  h1 {
    font-size: 45px;
    opacity: 1;
    top: 400px;
    left: 5%;
  }
  h2 {
    font-size: 30px;
    position: absolute;
    width: 410px;
    top: 570px;
    opacity: 1;
    animation-duration: 5s;
  }
  
  .ABOUT {
    text-align: left;
    width: 100%;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 400px;
    font-size: 24px;
    margin-bottom: 100px;
  }
  #aboutHeading {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
  }
  .aboutText {
    width: 410px;
  }

  .PORTFOLIO {
    height: 3500px;
    margin-top: 150px;
  }
  h3 {
    margin-bottom: 370px;
    position: relative;
    top: 600px;
  }
  .paragraph1 {
    top: 780px;
    width: 400px;
  }
  .paragraph2 {
    top: 670px;
    width: 400px;
  }
  .paragraph3 {
    top: 800px;
    width: 400px;
  }
  .picturesSpace {
    top: 3790px;
    width: 400px;
    height: 300px;
  }
  .picturesMulti {
    top: 4810px;
    width: 400px;
    height: 300px;
  }
  .picturesFeet {
    top: 5660px;
    width: 400px;
    height: 300px;
  }
  .projectLinks1 {
    top: 1120px;
  }
  .projectLinks2 {
    top: 920px;
  }
  .projectLinks3 {
    top: 1130px;
  }
  .portfolioHR {
    position: relative;
    top: 730px;
  }
  hr {
    width: 95%;
    margin-left: 15px;
  }

  .FORM {
    width: 350px;
    margin: 15vh 2vw;
  }
  #formSubmit {
    width: 200px;
  }

  .FOOTER {
    height: 200px;
  }
  #email {
    left: 55vw;
    top: 0px;
    color: rgb(220, 220, 220);
    text-decoration: none;
  }
}